<!DOCTYPE html>

<html lang="en">
  <head th:replace="snippets.html :: name_head"></head>

  <body>
    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div
      class="container text-center px-lg-5"
      style="display: grid; align-items: center; align-content: center; height: 80vh"
    >
      <div class="row align-content-between" style="max-height: 80vh">
        <div class="col-lg-3 col-6 p-2">
          <div class="card item-card p-2" id="sales-report-card">
            <img class="card-img-top" th:src="@{/static/asset/sales-logo.png}" alt="Sales Report" />
            <div class="card-body">Sales Report</div>
          </div>
        </div>

        <div class="col-lg-3 col-6 p-2">
          <div class="card item-card p-2" id="per-day-sale-report-card">
            <img class="card-img-top" th:src="@{/static/asset/per-day-logo.png}" alt="Per-day Sale Report" />
            <div class="card-body text-dark">Per-Day Sale Report</div>
          </div>
        </div>

        <div class="col-lg-3 col-6 p-2" onclick="">
          <div class="card item-card p-2" id="inventory-report-card">
            <img class="card-img-top" th:src="@{/static/asset/inventory-logo.png}" alt="Per-day Sale Report" />
            <div class="card-body text-dark">Inventory Report</div>
          </div>
        </div>

        <div class="col-lg-3 col-6 p-2">
          <div class="card item-card p-2" id="brand-report-card">
            <img class="card-img-top" th:src="@{/static/asset/brands-logo.png}" alt="Per-day Sale Report" />
            <div class="card-body text-dark">Brand Report</div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="snippets.html :: name_footer"></footer>
    <script th:src="@{/static/js/reports.js}"></script>
  </body>
</html>
